<div class="flex items-start">
  <%= bot_avatar(size: "size-8") %>
  <div class="ml-3 inline-block max-w-xs lg:max-w-md px-4 mr-4 py-2 rounded-lg msg-system">
    <%= simple_format(message.content) %>
  </div>
</div>
