<div id="<%= dom_id(message) %>" class="mb-4">
  <% if message.role == "user" %>
    <%= render "messages/user_message", message: message %>
  <% elsif message.role == "assistant" %>
    <%= render "messages/lina_message", message: message %>
  <% end %>
</div>
