<%= link_to conversation, class: "text-app group flex gap-x-3 rounded-lg p-2 text-sm/6 rounded transition hover:bg-[#5B21B6]" do %>
  <h3 class="font-medium"><%= conversation.title.upcase_first %></h3>
<% end %>
