<%= link_to conversation, class: "group flex gap-x-3 rounded-lg p-2 px-2 text-sm/6 text-gray-900 font-semibold rounded hover:bg-gray-50 hover:text-indigo-700" do %>
  <h3 class="font-semibold"><%= conversation.title.upcase_first %></h3>
<% end %>
