<div class="max-w-xl lg:max-w-3xl mx-auto px-2 sm:px-0 sm:pl-20 lg:pl-0">
  <div class="mx-auto">
    <div class="mx-auto ">
      <%= turbo_stream_from @conversation %>
      <div class="mb-6 pb-40" id="messages" id="messages-container">
        <%= render "messages/messages", messages: @messages %>
      </div>
      <div class="card max-w-lg lg:max-w-2xl fixed bottom-0 left-0 sm:left-20 lg:left-0 right-0 mx-auto shadow-lg mt-auto rounded-t-3xl z-10">
        <%= render "messages/form", conversation: @conversation, new_message: @new_message %>
        <p class="text-center text-sm/6 mt-2">Lina can be wrong. If you need help, contact specialists.</p>
      </div>
    </div>
  </div>
</div>

<script>
    function scrollToBottom() {
        const container = document.getElementById('messages-container');
        if (container) {
            container.scrollTop = container.scrollHeight;
        }
    }

    scrollToBottom();

    document.addEventListener('turbo:frame-render', scrollToBottom);
    document.addEventListener('DOMContentLoaded', scrollToBottom);
    document.addEventListener('turbo:submit-end', function() {
        setTimeout(scrollToBottom, 100);
    });
</script>