<div class="max-w-3xl mx-auto px-6">
<!--  <div class="flex justify-between items-center mb-6">-->
    <%#= link_to "← Powrót", conversations_path, class: "text-blue-500 hover:underline" %>
<!--  </div>-->
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">

    <div class="mx-auto max-w-3xl">
      <%= turbo_stream_from @conversation %>
      <div class="mb-6" id="messages" id="messages-container">
        <%= render "messages/messages", messages: @messages %>
      </div>
      <div class="fixed bottom-0 left-0 right-0 max-w-3xl mx-auto bg-white p-4 shadow-lg mt-auto border-tl rounded-t-3xl ">
        <%= render "messages/form", conversation: @conversation, new_message: @new_message %>
        <p class="text-center text-sm/6 text-gray-700 mt-2 ">Lina can be wrong. If you need help, contact specialists.</p>
      </div>
    </div>
  </div>
</div>


<script>
    function scrollToBottom() {
        const container = document.getElementById('messages-container');
        container.scrollTop = container.scrollHeight;
    }

    scrollToBottom();

    document.addEventListener('turbo:frame-render', scrollToBottom);
</script>