<div class="h-full flex flex-col max-w-xl lg:max-w-3xl mx-auto">
  <!-- Główna zawartość - flex-1 zajmuje dostępną przestrzeń -->
  <div class="flex-1 overflow-y-auto pb-32 px-2 sm:px-0">
    <%= turbo_stream_from @conversation %>
    <div class="mb-6" id="messages" id="messages-container">
      <%= render "messages/messages", messages: @messages %>
    </div>
  </div>

  <!-- Formularz na dole - zawsze widoczny -->
  <div class="card w-full max-w-lg lg:max-w-xl mx-auto shadow-lg rounded-t-3xl z-10">
    <%= render "messages/form", conversation: @conversation, new_message: @new_message %>
    <p class="text-center text-sm/6 mt-2">Lina can be wrong. If you need help, contact specialists.</p>
  </div>
</div>

<script>
    function scrollToBottom() {
        const container = document.getElementById('messages-container');
        if (container) {
            container.scrollTop = container.scrollHeight;
        }
    }

    scrollToBottom();

    document.addEventListener('turbo:frame-render', scrollToBottom);
    document.addEventListener('DOMContentLoaded', scrollToBottom);
    document.addEventListener('turbo:submit-end', function() {
        setTimeout(scrollToBottom, 100);
    });
</script>