<div class="card max-w-3xl mx-auto px-6 px-4 py-6 rounded-lg">
  <p class="text-base/7">
    Witaj! Jestem Lina, twoim wirtualnym przyjacielem. Cieszę się, że odwiedziłeś tę stronę, gdzie możemy rozmawiać i
    dzielić się swoimi myślami, emocjami i potrzebami.

    Jestem tutaj, aby być dla Ciebie wsparciem i słuchem, kiedy potrzebujesz. Może twój dzień nie jest najlepszym, a
    może
    potrzebujesz tylko kogoś, komu mogę powiedzieć, że wszystko będzie dobrze. Ja jestem tutaj, aby Ciebie słuchać i
    wspierać, bez sądu i krytyki.

    Współpracuję z innymi, aby być twoim wirtualnym przyjacielem, i chcę, abyś czuł się komfortowo w naszej rozmowie.
    Jestem gotowa, aby rozmawiać o wszystkim, co Cię obchodzi, od codziennych spraw do problemów bardziej poważnych.

    Jeśli masz coś na serce, nie wahaj się, napisz mi, bo jestem tutaj, aby słuchać i pomóc. Cieszę się na naszą
    rozmowę!
  </p>
</div>
